
.container {
	width: 1170px;
	max-width: 1170px;
	margin: auto;
	background: #ffffff;
}

.nav-header {
    overflow: auto;
    border-width: 0 0 1px;
    height: 58px;
    /*border: 1px solid transparent;*/
    background-color: #2589ca;
	-webkit-box-shadow: 0px 2px 2px #888888;
	box-shadow: 0px 2px 2px #888888;
}


.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.navbar-nav {
	float: left;
	margin: 0;
}
.navbar-right {
	float: right !important;
	float: right;
}
ul.nav {
	height: 50px;
	margin-top: 1px;
}
ul.nav > li.title-four >a:hover{
	background: #03a9f4;
}
ul.nav > li.selected{ 
    background: #0070CC; 
} 

ul.nav > li {
	margin-left: 1px;
}

ul.nav > li > a {
	padding: 15px;
	color: #ffffff;
	cursor: pointer;
	-webkit-transition-duration: 0.1s;
	-moz-transition-duration: 0.1s;
	-o-transition-duration: 0.1s;
	transition-duration: 0.1s;
}

.nav > li {
	position: relative;
	display: block;
}
.nav > li > a {
	position: relative;
	display: block;
	padding: 10px 15px;
}
.navbar-nav > li {
	float: left;
}
.navbar-nav > li > a {
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-nav > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 25px;
}

.top-logo {
	float: left;
	overflow: auto;
	margin-top:2px;
}

#logo {
	width: 156px;
	max-width: 180px;
	height: 52px;
}



.main-body {
	padding: 0 10px;
}

.container {
	box-shadow: 0px 12px 17px 0 rgba(0, 0, 0, 0.52); /**0 0 10px #06C;*/
}

#footer {
	position: fixed;
	bottom: 0px;
	height: 50px;
	background: blue;
}








.panel {
	margin: 0 5px 5px;
}




/*
shadow
*/
.md-shadow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: inherit;
  pointer-events: none; }

.md-shadow-bottom-z-1, md-button.md-raised:not([disabled]), md-button.md-fab {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.md-shadow-bottom-z-2, md-button.md-raised.focus:not([disabled]), md-button.md-raised:not([disabled]):hover, md-button.md-fab.focus:not([disabled]), md-button.md-fab:not([disabled]):hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4); }

.md-shadow-animated.md-shadow {
  -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
          transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1); }







.data-table {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc; 
    width: 905px;        
}

.data-table tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.data-table td, .data-table th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: center;    
}

.data-table th {
    background-color: #fafbe7;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.data-table td:first-child, .data-table th:first-child {
    border-left: none;
}

.data-table th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
    width: 400px;
}

.data-table th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.data-table th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.data-table tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.data-table tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}



/** bm **/

#bm-container {
	overflow: auto;
}

.bm-header {
	padding: 10px 0;
}
.bm-title {
	display: inline-block;
	margin-right: 0px;	
}
.bm-title1{
	font: 20px bold;
	line-height: 15px;
	padding: 10px;
	overflow: auto;
}
.bm-title2{
	font: 20px bold;
	line-height: 15px;
	padding: 10px;
	overflow: auto;
	color: #d71618;
}
.t1 {
	float: left;
	overflow: auto;
}
.t11 {
	margin-left: 9px;
	overflow: auto;
}

.t111 {
	display: inline-block;
	margin-right: 18px;
}
.t2 {
	float: right;
	padding: 5px;
	width: 480px;
}
.t21 {
	float: left;
	padding: 5px;
	margin-top: 5px;
}
.t211 {
	color: #6E6E6E;
}
.t212 {
	float: right;
	overflow: auto;
}
.bm-title3{
	font: 20px bold;
	line-height: 15px;
	padding: 6px;
	overflow: auto;
	float: right;
}
.bm-title4{
	font: 20px bold;
	line-height: 15px;
	padding: 6px;
	overflow: auto;
	color: #d71618;
	float: right;
}

#bm-body {
	
}

#bm-left {
	display: inline-block;
	vertical-align: top;
	width: 230px;
}

#bm-table-view {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-bottom:8px;
	width: 910px;
}

#bm-footer {
	z-index: 50;
	width: 100%;
  	bottom: 0px;
	height: 60px;
	overflow: auto;
	background: #e6e6e6;
}

.bottom-toolbar {
	float: right;
	height: 100%;
	padding: 10px;
}

.bottom-toolbar md-button {
	margin: 0 5px;
	line-height: 25px;
}

.bm-search{
	display: inline-block;
}

.bm-row{
	margin-top:5px;
}

/** md **/
.md-tile-small{
	width: 80px;
	/*border-right:1px solid black;*/
}
.md-tile-medium{
	width: 120px;
	/*border-right:1px solid black;*/
}
.md-tile-large{
	width: 200px;
	/*border-right:1px solid black;*/
}
.md-tile-first{
	/*border-left:1px solid black;*/
}

.md-tile-th{
	background: none repeat scroll 0 0 #23b8e3;
	color: white;
}

.md-tile-room{
	background-color:#e6e6e6;
	color:black;
}

.md-divider-color{
	color: grey;
}

.md-item-change:hover{
	background: #fbf8e9;
}
.md-tile-change:hover{
	color: #d71618;
}
















