/*
init
*/
* {
	margin: 0;
	padding: 0;
	font-size: 14px;
}

*, *:before, *:after {
  	box-sizing: border-box; 
}

:focus {
  	outline: none; 
}

html, body {								
  	height: 100%;
  	color: rgba(0, 0, 0, 0.73);
  	background: #ffffff;
  	/*TODO
  	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);				
  	-webkit-touch-callout: none;
  	-webkit-text-size-adjust: 100%;
  	-webkit-font-smoothing: antialiased;
  	*/
  	text-rendering: optimizeLegibility; 
}
html p, body p {
    line-height: 1.846; 
}
/*TODO
html h3, body h3 {					
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-size: 1.17em;
    font-weight: bold; 
}
*/

button, select, html, textarea, input {
  	font-family: 'RobotoDraft', 'Helvetica Neue', Helvetica, Arial; 
}

a {
	color: #428bca;
	text-decoration: none;
  	background: transparent;
  	outline: none; 
}

a:hover,
a:focus {
  	color: #22456e;
  	text-decoration: none;
}


h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }


select, button, textarea, input {
  margin: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

input[type="reset"], input[type="submit"], html input[type="button"], button {
  cursor: pointer;
  -webkit-appearance: button; }
input[type="reset"][disabled], input[type="submit"][disabled], html input[type="button"][disabled], button[disabled] {
    cursor: default; 
}

textarea {
  vertical-align: top;
  overflow: auto; 
}

input[type="radio"], input[type="checkbox"] {
  padding: 0;
  box-sizing: border-box; 
}
/*TODO search input
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
  -webkit-box-sizing: content-box; 
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none; 
}
*/

/*
TODO @font-face
*/

/*
.md-shadow
*/

ul {
	list-style: none;
}


/* table TODO */
table {
  margin-bottom: 20px;
  max-width: 100%;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent; }

td, th {
  padding: 8px 16px;
  border-top: 1px solid #ddd;
  vertical-align: top; }

th {
  border-bottom: 2px solid #ddd;
  vertical-align: bottom; }





/*
layout
*/
.pull-left {
	float: left !important;
}
.pull-right {
	float: right !important;
}
.clearfix {
	overflow: auto;
}

/*
[layout] [block] [inline-block] [flex] TODO
*/

/**
content
*/
.content {
	display: block;
	position: relative;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.content-padding {
	padding: 8px;
}


md-content {
  display: block;
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }
  md-content[scroll-y] {
    overflow-y: auto;
    overflow-x: hidden; }
  md-content[scroll-x] {
    overflow-x: auto;
    overflow-y: hidden; }
  md-content.md-content-padding {
    padding: 8px; }

@media (min-width: 600px) {
  md-content.md-content-padding {
    padding: 16px; }
 }



/**
list
*/
md-list {
  padding: 8px 0px 8px 0px; }
  md-list.with-subheader {
    padding-top: 0px; }

md-item-content {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex-direction: row;
          flex-direction: row;
  box-sizing: border-box;
  position: relative;
  padding: 0px 0px 0px 0px; }
  

/**
 * The left tile for a list item.
 */
.md-tile-left {
  min-width: 56px;
  margin-right: -16px; }

/**
 * The center content tile for a list item.
 */
.md-tile-content {
  padding: 16px 0;
  text-overflow: ellipsis; 
  text-align: center;}
  .md-tile-content h2 {
    margin: 0 0 3px 0;
    font-weight: 500;
    font-size: 1.1em; }
  .md-tile-content h3 {
    margin: 0 0 3px 0;
    font-weight: 400;
    font-size: 1.1em; }
  .md-tile-content h4 {
    margin: 0 0 3px 0;
    font-weight: 400;
    font-size: 0.9em; }
  .md-tile-content p {
    margin: 0 0 3px 0;
    font-size: 0.75em; }

/**
 * The right tile for a list item.
 */
.md-tile-right {
  padding-right: 0px; }  
  



/*
subheader
*/
.md-sticky-clone {
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  position: absolute !important;
  -webkit-transform: translate3d(-9999px, -9999px, 0);
          transform: translate3d(-9999px, -9999px, 0); }
  .md-sticky-clone[sticky-state="active"] {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
    .md-sticky-clone[sticky-state="active"]:not(.sticky-no-effect):after {
      -webkit-animation: subheaderStickyHoverIn 0.3s ease-out both;
              animation: subheaderStickyHoverIn 0.3s ease-out both; }

@-webkit-keyframes subheaderStickyHoverIn {
  0% {
    box-shadow: 0 0 0 0 transparent; }

  100% {
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.16); } }

@keyframes subheaderStickyHoverIn {
  0% {
    box-shadow: 0 0 0 0 transparent; }

  100% {
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.16); } }

@-webkit-keyframes subheaderStickyHoverOut {
  0% {
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.16); }

  100% {
    box-shadow: 0 0 0 0 transparent; } }

@keyframes subheaderStickyHoverOut {
  0% {
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.16); }

  100% {
    box-shadow: 0 0 0 0 transparent; } }


.md-subheader {
  display: block;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1em;
  padding: 16px 0px 16px 16px;
  margin: 0 0 0 0;
  margin-right: 16px;
  position: relative; }
  
.md-subheader:not(.sticky-no-effect) {
    transition: 0.2s ease-out margin; 
}

.md-subheader:not(.sticky-no-effect):after {
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
	right: -16px;
	content: ''; 
}
.md-subheader:not(.sticky-no-effect)[sticky-state="active"] {
	margin-top: -2px; 
}
.md-subheader:not(.sticky-no-effect):not(.md-sticky-clone)[sticky-prev-state="active"]:after {
      -webkit-animation: subheaderStickyHoverOut 0.3s ease-out both;
              animation: subheaderStickyHoverOut 0.3s ease-out both; 
}

	
/*
dialog
*/


/*
form control
*/
/** form */
input.form-control {
	height: 30px;
	line-height: 26px;
}

input.form-control, textarea.form-control,select.form-control {
	background-color: #fff;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	line-height: 20px;
}

.search-view {
	width: 410px;
}
.search-view .search-form {
	padding: 10px 0;
}
.search-view .search-form .form-control {
	width: 100%;
	margin-right: 80px;
	/* padding-right: 80px; */
	font-size: 13px;
	line-height: 21px;
	padding: 8px 80px 8px 8px;
}


.search-view .search-form .search-btn {
	width: 80px;
	/**background: #0089cf;*/
	border-radius: 0 2px 2px 0;
	position: absolute;
	right: 0px;
	top: 10px;
	text-align: center;
	line-height: 10px;
}

.search-ctrl {
	width: 260px;
	height: 28px;
}

.search-view .search-form .search-btn .icon-search {
	font-size: 18px;
	font-weight: bold;
	line-height: 28px;
}

.icon {
	display: inline-block;
	font-family: Teambition-UI-Icons!important;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}



/*
buttons
*/
.btn {
	display: inline-block;
	padding: 8px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #383838;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	background-color: #fff;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.btn-small {
	
}
.btn-primary {
	color: #fff;
	background-color: #03a9f4;
	border-color: #03a9f4;
}
.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}




md-button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  display: inline-block;
  outline: none;
  border: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  cursor: pointer;
  overflow: hidden; }
  md-button .md-button-inner {
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    color: inherit;
    outline: none;
    text-transform: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    white-space: nowrap;
    padding: 6px; }
  md-button a {
    text-decoration: none; }
  md-button[href] {
    pointer-events: none; }
    md-button[href] .md-button-inner {
      pointer-events: auto; }
  md-button.md-cornered {
    border-radius: 0; }
  md-button.md-icon {
    padding: 0;
    background: none; }
  md-button.md-raised {
    -webkit-transition: 0.2s linear;
            transition: 0.2s linear;
    -webkit-transition-property: box-shadow, -webkit-transform, background-color;
            transition-property: box-shadow, transform, background-color;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  md-button.md-fab {
    z-index: 2;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transition: 0.2s linear;
            transition: 0.2s linear;
    -webkit-transition-property: -webkit-transform, box-shadow;
            transition-property: transform, box-shadow; }
    md-button.md-fab.md-fab-bottom-right {
      top: auto;
      right: 28px;
      bottom: 28px;
      left: auto;
      position: absolute; }
    md-button.md-fab.md-fab-bottom-left {
      top: auto;
      right: auto;
      bottom: 28px;
      left: 28px;
      position: absolute; }
    md-button.md-fab.md-fab-top-right {
      top: 28px;
      right: 28px;
      bottom: auto;
      left: auto;
      position: absolute; }
    md-button.md-fab.md-fab-top-left {
      top: 28px;
      right: auto;
      bottom: auto;
      left: 28px;
      position: absolute; }
  md-button:not([disabled]).md-raised.focus, md-button:not([disabled]).md-raised:hover, md-button:not([disabled]).md-fab.focus, md-button:not([disabled]).md-fab:hover {
    -webkit-transform: translate3d(0, -1px, 0);
            transform: translate3d(0, -1px, 0); }


.md-button-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%; }

.md-button-group > .md-button {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: block;
  overflow: hidden;
  width: 0;
  border-width: 1px 0px 1px 1px;
  border-radius: 0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap; }
  .md-button-group > .md-button:first-child {
    border-radius: 2px 0px 0px 2px; }
  .md-button-group > .md-button:last-child {
    border-right-width: 1px;
    border-radius: 0px 2px 2px 0px; }



@-webkit-keyframes inkRippleButton {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.15; }

  50% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    opacity: 0.15; }

  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0; } }

@keyframes inkRippleButton {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.15; }

  50% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    opacity: 0.15; }

  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0; } }

@-webkit-keyframes inkRippleCheckbox {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.4; }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.4; }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes inkRippleCheckbox {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.4; }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.4; }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

/*
 * A container inside of a rippling element (eg a button),
 * which contains all of the individual ripples
 */
.md-ripple-container {
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.md-ripple {
  position: absolute; }
  
  


/*
toolbar
*/
.toolbar {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
	z-index: 2;
	font-size: 1.3em;
	min-height: 32px;
	width: 100%;
}

.demo-toolbar {
	background: #2589ca;
	color: white;
}

.toolbar-tools {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	width: 100%;
	height: 32px;
	font-size: inherit;
	font-weight: normal;
	padding: 0 10px;
	margin: 0;
}


md-toolbar {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 2;
  font-size: 1.15em;
  min-height: 32px;
  width: 100%; }
  md-toolbar.md-tall {
    height: 192px; }
  md-toolbar.md-medium-tall {
    height: 88px; }
    md-toolbar.md-medium-tall .md-toolbar-tools {
      height: 48px; }
  md-toolbar .md-indent {
    margin-left: 64px; }

.md-toolbar-tools {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 32px;
  font-size: inherit;
  font-weight: lighter;
  padding: 0;
  margin: 0; }
  .md-toolbar-tools > * {
    font-size: inherit;
    margin: 0 8px; }
  .md-toolbar-tools h2, .md-toolbar-tools h3 {
    font-weight: normal; }
  .md-toolbar-tools a {
    color: inherit;
    text-decoration: none; }
  .md-toolbar-tools md-button {
    font-size: 16px; }

@-webkit-keyframes tooltipBackgroundShow {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.25; }

  50% {
    opacity: 1; }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@keyframes tooltipBackgroundShow {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.25; }

  50% {
    opacity: 1; }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes tooltipBackgroundHide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes tooltipBackgroundHide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }




/*
divider
*/
md-divider {
  display: block;
  border-top: 1px solid;
  margin: 0; }
md-divider[inset] {
    margin-left: 80px; }

/*
whiteframe
*/
.whiteframe-z1 {
	box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.whiteframe-z2 {
  box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2); 
}

.whiteframe-z3 {
  box-shadow: 0px 17px 50px rgba(0, 0, 0, 0.19); 
}

.whiteframe-z4 {
  box-shadow: 0px 16px 28px 0 rgba(0, 0, 0, 0.22); 
}

.whiteframe-z5 {
  box-shadow: 0px 27px 24px 0 rgba(0, 0, 0, 0.2); 
}

.md-whiteframe-z1 { box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26); }
.md-whiteframe-z2 { box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2); }
.md-whiteframe-z3 { box-shadow: 0px 17px 50px rgba(0, 0, 0, 0.19); }
.md-whiteframe-z4 { box-shadow: 0px 16px 28px 0 rgba(0, 0, 0, 0.22); }
.md-whiteframe-z5 { box-shadow: 0px 27px 24px 0 rgba(0, 0, 0, 0.2); }







